 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    
  }

.mini-nav {
		background-color: #000; /* Set the background color for the mini nav strip */
		color: #fff; /* Set the text color for the mini nav strip */
		text-align: center;
		padding: 10px; /* Adjust the padding as needed */
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 1000; /* Ensure the mini nav appears above other elements */

	 
}
	
	/* Adjust the styles for the text or links within the mini nav strip */
	.mini-nav p {
		margin: 0;
		font-size: 14px;
		 
		font-weight: bold;
	}
	 

nav{
	position: absolute;
	top:20px;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1px 2%; 
	z-index: 10;
	background: #fff;
}
 
.icons{
	display: flex;
    gap: 10px; 
	margin-top: 45px;
	margin-left: 200px;
	 

}
.second-mini-nav{
	background-color: #fff;
    color: #fff;
    text-align: center;
    padding: 70px; /* Adjust padding using vh (viewport height) */
    width: 100%;
  
	margin-top: 10vh;
     
}

/* Adjust the styles for the text or links within the mini nav strip */
.second-mini-nav p {
	margin: 0;
	font-size: 14px;
	 
	font-weight: bold;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin: 10px 20px;
	font-weight: 500;
	cursor: pointer;
	content: '•';
	margin-left: 20px;
	 margin-right: 20px;
}
nav .logo{
	width: 135px;
	height: auto;
	cursor: pointer;
	margin-left: 70px; /* Adjust the right margin for horizontal positioning */
    margin-top: 30px; /* Adjust the top margin for vertical positioning */

}
 

 
.searchBar {
    width: 36%;
    background-color: #eee;
    border-radius: 25px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin-top: 40px ;
	margin-left: 160px; 

}

input {
    border: none;
    outline: none;
    background: none;
}

.glass:hover {
    color: orangered;
    cursor: pointer;
}
.image-slider {
	max-width: 80%;
	overflow: hidden;
	position: relative;
	margin: 10% auto 0;
	height: 500px;
	border: 40px solid #000;
	margin-top: 1px;
}
a {
    text-decoration: none; 
    color: black;  
}

 a:hover {
    color: gray;  
}

 .nav-links {
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;  
    color: black;  
    margin-right: 5%;  
    display: inline;  
    
}

.mySlides {
	display: flex;
    justify-content: center;
    align-items: center;
	 
}

.mySlides img {
	max-width: 100%;
    height: auto;
	 
}

.prev, .next {
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px; 
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
 

.slide-message {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: left; /* Align text to the left */
    color: #000; /* Adjust text color */
    font-size: 36px; /* Set font size twice as big */
	 
    font-weight: bold; /* Make the text bold */
    width: 50%; /* Set width to 50% for the right half */
    padding-left: 20px; /* Add padding for the left side */
    /* Add any additional styles as needed */
	
   
}
.slide-message .message-2{
	color: palevioletred;
}
 

.slide-button {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition for background color */
	 
}

.slide-button:hover {
    background-color: #333; /* Darken the background color on hover */
}
body { 
 
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background: #fff;
 	padding: 0 10%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
image-container {
    width: 100%;  
    max-width: 100vw; 
    overflow: hidden;  
}

/* Style for the image inside the container */
.image-container img {
    width: 100%; /* Make the image width span the entire container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures it's a block element */

 
	
	
}
.header h1{
	margin: 80px 20px 80px 0;
	font-size: 5vw;
	line-height:9svw;
	color: #b0885a;
	text-align: center;
     
	
}

.btn-container{
	margin: 20px 0;
}
.header button{
	border: 0;
	outline: 0;
	display: inline-flex;
	align-items: center;
	font-size: 18px;
	margin-right: 20px;
	cursor: pointer;
}

.btn-dark{
	background: #8B4513;
	color: #fff;
	padding: 10px 10px 10px 30px;
	border-radius: 40px;
	
}

.btn-dark img{
	width: 40px;
	background: #fff;
	border-radius: 50%;
	padding: 10px;
	margin-left: 30px;
	
}

.btn-light{
	background: transparent;
	text-decoration: underline;
	
}

.btn-light img{
	width: 20px;
	margin-left: 10px;
}

.header p{
	max-width: 360px;
	font-weight: 500;
	
	
}
 
.nav-links .products-link {
    /* Specific styles for the Products link */
    color: #ff1493; /* Set the color to pink or any other color code */
    font-weight: bold; /* Apply bold font to the Products link */
}
.img{
	width:100vw;
	height: auto;
	display: block;
	object-fiT: COVER;
	margin: 0;
	padding: 0;
	
}
body, header, main, img {
    margin: 0;
    padding: 0;
}
.full-width-image {
    width: 100%;
    display: block;
	height: 500px;
}
.section-title {
	text-align: center;
	font-size: 24px;
	margin-top: 100px; /* Adjust the margin as needed */
  }
  
.featured{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	max-width: 1200px;
	margin: 50px auto 0; 
	

   
	 
  }
  .item {
	background-color: #fff;
 padding: 5px;
 border-radius: 20px;
  border: 1px solid #e0ddd5;
 
  }
  .item:hover {
    
	border-radius: 13px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  .item img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
	transition: all 0.5s;
  }
  .item figure {
	overflow: hidden;
	border-radius: 15px 15px 0 0; 
   }
   .product-info {
	padding: 15px 15px;
	font-family: sans-serif;
	font-size: 1.2em;
	text-align: center;
	font-weight: 400;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #000;
  }
  .price {
	color: #000;
	font-size: 1.2em;
	font-weight: 900;
	font: bold;
  }
  .product-info button {
	margin-top: auto;
	border: 2px solid #000;
	background: none;
	background-color: #fff;
	border-radius: 15px;
	color: #000;
	font-weight: 700;
	font: bold;
	font-size: 1em;
	padding: 15px 10px;
	cursor: pointer;
  }
  .footer {
	background-color: #000; /* Change the background color as needed */
	color: #fff; /* Change the text color as needed */
	padding: 30px; /* Adjust the padding as needed */
	text-align: center;
	margin-top: 20px;
  }
  
  /* Optionally, add some styling for links in the footer */
  .footer a {
	color: #fff; /* Change the link color as needed */
	text-decoration: none;
	margin: 0 10px;  
  }
   
  .product-counter {
	position: absolute;
	top: 58%;
	right: 0;
  
	background-color: black;
	color: white;
	width: 25px;
	height: 25px;
  
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
  }
  /*giving font- size to the span that contains just the number of the counter*/
  #product-counterID {
	font-size: 12px;
  }
  
  /*design format for the container-car-products that is the box that will appear when we do a click on the icon of the basket
  positioning at z-index =2 due to the nav bar is over the box at z index 3 and the images and boxes item are at indez z = 1*/
  .container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: white;
	width: 400px;
	z-index: 2;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
  }
  /*let the cart hidden using the display none and the class hidden-cart*/
  .hidden-cart {
	display: none;
  }
  /*format for the icon X used for "cancel a product"*/
  .icon-X {
	width: 25px;
	height: 25px;
  }
  /*format for the icon-X class when we hover it*/
  .icon-X:hover {
	color: red;
	cursor: pointer;
  }
  /*formating the elemennts inside the box of the cart products using the class cart-products*/
  .cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  /*formating the elemennts information of the product inside the cart products box using the class cart--info-products*/
  .cart-info-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
  }
  /*format for the cuantity number of the products inside the cart*/
  .products-cart-cuantity {
	font-weight: 400;
	font-size: 20px;
  }
  /*format for box that contains the "Total" of money inside the cart */
  .cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
  }
  /*format for the header h3 (text)*/
  .cart-total h3 {
	font-size: 20px;
	font-weight: 700;
  }
  /*format for the number used for give the total amount of money*/
  .Total-pay {
	font-size: 20px;
	font-weight: 900;
  }
  /*giving size to the name of the product inside the cart*/
  .product-cart-name {
	font-size: 1em;
  }
  /*format for the number used to give the amount of money that the item cost inside the cart*/
  .price-cart-item {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
  }
  /*design and format for the box that contains the information of the product
   inside the shopping cart using display flex using the class cart-info-product*/
  .cart-info-product {
	display: flex;
	justify-content: space-between;
	margin-left: 2vh;
	font-size: 1em;
	font-weight: 600;
  }
  .iconbasket {
	margin-top: 20px;
	height: 40px;
	width: 40px;
	stroke: rgba(0, 0, 0);
  }
  /*confifuring the cursor for the icon basket class when we hover it*/
  .iconbasket:hover {
	cursor: pointer;
  }
  /*let the images takes the 100% of the width where they are*/
  img {
	max-width: 100%;
  }
  
  /*Header style*/
  header .shopping {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
  }
  
  /* This is the icon class (father) where is the block that contains
  all the window information about our cart*/
  .icon {
	position: relative;
	display: flex;
	justify-content: right;
	align-items: center;
  }


  @media only screen and (max-width: 600px) {
	.searchBar {
	  width: 80%;
	  margin-left: 0;
	}
  
	.icons {
	  margin-left: 0;
	}
  
	.second-mini-nav {
	  padding: 30px;
	}
  
	.image-slider {
	  height: 300px;
	}
  
	.slide-message {
	  font-size: 24px;
	  width: 80%;
	  padding-left: 10px;
	}
  
	.slide-button {
	  padding: 8px 15px;
	}
  
	.section-title {
	  margin-top: 50px;
	  font-size: 20px;
	}
  
	.featured {
	  grid-template-columns: repeat(2, 1fr);
	}
  
	.item img {
	  height: 200px;
	}
  
	.footer {
	  padding: 15px;
	}
  }
  .iconbasket {
	margin-top: 20px;
	height: 40px;
	width: 40px;
	stroke: rgba(0, 0, 0);
	 
  }
  /*confifuring the cursor for the icon basket class when we hover it*/
  .iconbasket:hover {
	cursor: pointer;
  }
  /*let the images takes the 100% of the width where they are*/
  img {
	max-width: 100%;
  }
  
  /*Header style*/
  header .shopping {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
  }
  
  /* This is the icon class (father) where is the block that contains
  all the window information about our cart*/
  .icon {
	position: relative;
	display: flex;
	justify-content: right;
	align-items: center;
	
  }
  
  /*format for the product-counter class(container for the counter of the products that is over the basket icon)
   to positioning using display flex, giving it background color, text color and a good size for a good view effect*/
  .product-counter {
	position: absolute;
	top: 58%;
	right: 0;
  
	background-color: #BE0E09;
	color: white;
	width: 25px;
	height: 25px;
  
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
  }
  /*giving font- size to the span that contains just the number of the counter*/
  #product-counterID {
	font-size: 12px;
	
  }
  
  /*design format for the container-car-products that is the box that will appear when we do a click on the icon of the basket
  positioning at z-index =2 due to the nav bar is over the box at z index 3 and the images and boxes item are at indez z = 1*/
  .container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: white;
	width: 400px;
	z-index: 2;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
  }
  /*let the cart hidden using the display none and the class hidden-cart*/
  .hidden-cart {
	display: none;
  }
  /*format for the icon X used for "cancel a product"*/
  .icon-X {
	width: 25px;
	height: 25px;
 
  }
  /*format for the icon-X class when we hover it*/
  .icon-X:hover {
	color: red;
	cursor: pointer;
  }
  /*formating the elemennts inside the box of the cart products using the class cart-products*/
  .cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  /*formating the elemennts information of the product inside the cart products box using the class cart--info-products*/
  .cart-info-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
  }
  /*format for the cuantity number of the products inside the cart*/
  .products-cart-cuantity {
	font-weight: 400;
	font-size: 20px;
  }
  /*format for box that contains the "Total" of money inside the cart */
  .cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
  }
  /*format for the header h3 (text)*/
  .cart-total h3 {
	font-size: 20px;
	font-weight: 700;
  }
  /*format for the number used for give the total amount of money*/
  .Total-pay {
	font-size: 20px;
	font-weight: 900;
  }
  /*giving size to the name of the product inside the cart*/
  .product-cart-name {
	font-size: 1em;
  }
  /*format for the number used to give the amount of money that the item cost inside the cart*/
  .price-cart-item {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
  }
  /*design and format for the box that contains the information of the product
   inside the shopping cart using display flex using the class cart-info-product*/
  .cart-info-product {
	display: flex;
	justify-content: space-between;
	margin-left: 2vh;
	font-size: 1em;
	font-weight: 600;
  }
  
  /*products styles*/
  
  .products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
	gap: 20px;
  }
  
  /*before pass the mouse hover the item*/
  .item {
	background-color: #fff;
 padding: 5px;
 border-radius: 20px;
  border: 1px solid #e0ddd5;
 
  }
  
  /*passing the mouse hover the item*/
  .item:hover {
	 
	border-radius: 13px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  /*giving formating to the images inside the boxes of the products in the shopping html*/
  .item img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
	transition: all 0.5s;
  }
  /*we divide the items by boxes inside the shopping viewer and this configuration
  help us to not overflow after the bords of the boxes */
  .item figure {
   overflow: hidden;
   border-radius: 15px 15px 0 0; 
  }
  /*design and format for the animation when we hover the item boxes, giving effect to the images and using the
  z-index setting to 1 to no overpass the navigation bar which has index z position of 3 when we scrolldown*/
  
  /*formatting the class product-info which is the box that contains all the info of the products in the item box*/
  .product-info {
	padding: 15px 15px;
	font-family: sans-serif;
	font-size: 1.2em;
	text-align: center;
	font-weight: 400;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #000;
  }
  .description-product{
   color: black;
   font-family: sans-serif;
   font-weight: 500;
   line-height: normal;
   text-align: justify;
  
  }
  
  /*formatting the price class element to giving it better looking */
  .price {
	color: #000;
	font-size: 1.2em;
	font-weight: 900;
	font: bold;
  }
  
  /*style format for  the button (this is just for apresiation not working button yet!)*/
  .product-info button {
	margin-top: auto;
	border: 2px solid #000;
	background: none;
	background-color: #fff;
	border-radius: 15px;
	color: #000;
	font-weight: 700;
	font: bold;
	font-size: 1em;
	padding: 15px 10px;
	cursor: pointer;
  }
  
  .cart-empty{
  padding: 20px;
  text-align: center;
  font-weight: 600;
  
  }
  
